<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hunter.helloandroid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <uses-permission android:name="android.permission.USE_FINGERPRINT" /><!--指纹识别-->

    <!--创建悬浮窗口-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".module.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.matrix.MatrixActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".module.matrix.MatrixActivity2"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".module.sort.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.phont_number.PhontActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewgroup.CustomGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.nest_item.NestItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.add_view_anim.AddViewAnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.beam_mvp.ui.BeamMvpLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.rocket.RocketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.rx_android.CheeseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.rx_android.RxAndroidTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.view.ViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.swipe_refresh.SwipeRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.rotation.RotationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.operate_log.OperateLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.operate_log.MyDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialogActivity" />
        <activity
            android:name=".module.four.FourViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.scan.CustomScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxing.android.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxing.android.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.scan.android_zxinglibrary.MainZxingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.scan.android_zxinglibrary.SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.scan.android_zxinglibrary.ThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.multi.list.MultiListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.gradient.GradientActivity"
            android:label="颜色渐变"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.win_manager.WinManagerActivity"
            android:label="win_manager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.md5.EncryptActivity"
            android:label="加解密"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.coordinator.main.CoordinatorMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".module.coordinator.alipay.AlipayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".module.coordinator.main.ScrollingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".module.coordinator.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".module.coordinator.userinfo.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".module.custom.CustomViewActivity"
            android:label="自定义View"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.custom.hexagon.HexgonActivity"
            android:label="自定义Hexgon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.light.LightPrintActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>